<div
  class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ BaseUrl + dish.image }}"
        alt="{{ dish.name }}"
      />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait!</h4>
  </div>
</div>

<!-- Comments -->
<div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
  <mat-card>
    <mat-card-title>
      <h4>Comments</h4>
    </mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let info of dish.comments">
        <p matLine>{{ info.comment }}</p>
        <p matLine>{{ info.rating }} Stars</p>
        <p matLine>-- {{ info.author }} {{ info.date | date }}</p>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="form">
      <mat-list *ngIf="this.form.valid">
        {{ this.form.value | json }}
      </mat-list>
      <p>
        <mat-form-field [style.width.px]="400">
          <input
            formControlName="author"
            matInput
            placeholder="Name"
            class="example-full-width"
          />
          <mat-error *ngIf="formErrors.author">{{
            formErrors.author
          }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider
          formControlName="rating"
          min="1"
          max="5"
          step="1"
          value="5"
          thumbLabel
          tickInterval="1"
        ></mat-slider>
      </p>
      <mat-form-field [style.width.px]="400">
        <textarea
          formControlName="comment"
          matInput
          rows="6"
          cols="50"
          placeholder="Your Comment"
        ></textarea>
        <mat-error *ngIf="formErrors.comment">
          {{ formErrors.comment }}
        </mat-error>
      </mat-form-field>
      <p>
        <button
          (click)="onSubmit()"
          mat-button
          type="submit"
          class="background-primary text-floral-white"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </p>
    </form>
  </mat-card>

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait!</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>
</div>
