<div
  class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <mat-card *ngIf="dish">
    <mat-card-header>
      <mat-card-title>
        <h3>{{ dish.name | uppercase }}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
    <mat-card-content>
      <p>{{ dish.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goBack()">BACK</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Comments -->
<div fxFlex="40">
  <mat-card *ngIf="dish">
    <mat-card-title>
      <h4>Comments</h4>
    </mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let info of dish.comments">
        <p matLine>{{ info.comment }}</p>
        <p matLine>{{ info.rating }} Stars</p>
        <p matLine>-- {{ info.author }} {{ info.date | date }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
