<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <!-- <div fxFlex="40">
    <mat-card *ngIf="dish"> {{ dish.name | uppercase }} </mat-card>
  </div> -->

  <mat-card *ngIf="dish">
    <mat-list>
      <mat-list-item *ngFor="let info of dish.comments">
        <p matLine>{{ info.comment }}</p>
        <p matLine>{{ info.rating }} Stars</p>
        <p matLine>-- {{ info.author }} {{ info.date | date }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
